<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
	<appSettings>
    <add key="DriversPath" value="\Drivers" />
    <add key="WebDriverType" value="Chrome" /><!-- Valores Posibles: FireFox, IExplorer, Chrome-->
    <add key="User" value="gviruega@velocitypartners.net" />
    <add key="Pass" value="test_123" />
    <add key="FullName" value="GUSTAVOVIRUEGA" />
    <add key="WrongUser" value="unexistentuser@velocitypartners.net" />
    <add key="WrongPass" value="unexistentpass" />
    <add key="ErrorTitle" value="Error!" />
    <add key="ErrorNameMsg" value="Login Failed: Invalid Username" />
    <add key="ErrorPassMsg" value="Login Failed: Invalid Password" />
    <add key="LandingHeader" value="COMPANIES" />
    <add key="LandingCreateButton" value="Create New" />
    <add key="CreateNewCompanyModalHeader" value="CREATE NEW COMPANY" />
    <add key="DefaultImagePath" value="C:\test\img\" />
    <add key="DefaultReportPath" value="C:\test\" />
	</appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow></configuration>